
.date_box{
    display: flex;
    width: 12.5625rem;    
    padding: 0.25rem 0rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    color: var(--Blue-100);   
    border: 1px solid var(--Blue-100);
    border-radius: 3.5rem;

    gap: .275rem;
}