.main{
    background: var(--default-BG);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.footer_btn_wrapper{
    display: flex;
    flex-direction: row;
}
input:focus {
    outline: none; /*remove the weird orange "border" that appear when typing in the input field*/
}

@media (min-width: 1024px){
    
}