.header{
    align-self: flex-start;
    padding-left:1rem;
    margin-top: 1.5rem;
}
.form{
    display: flex;
    height: 17.4375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.inputField{
    width: 19.25rem;
    padding: 1rem;
    border-radius: 22.5rem;
    border: none;
    background: var(--Grey-80);
    color: var(--Grey-20);
    max-width: 19.25rem;
    font-family: var(--default-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 125% */
    letter-spacing: 0.03125rem;
}

.btn_wrapper{
    display: flex;
    flex-direction: row;
    width: 21.375rem;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}