.main_nav{
    display: flex;    
    height: 7.125rem;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    background: var(--Grey-100);
    color: var(--secondary-font-clr);

    position: relative;
}
.hamburger{
    background: var(--Grey-100);
    color: var(--secondary-font-clr);
    border: none;
    font-size: 3rem;    
}
.dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;

    background: var(--Grey-100);
    color: var(--secondary-font-clr);
    
  }
.dropDown_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    box-shadow: 0px -14px 54px 0px rgba(0, 0, 0, 0.12);
    padding:1rem;
    width: 15rem;
}
.dropDown_list > li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}
.title_container{
    text-align: center;
   
    font-family:var(--default-font);
}
.nav_title > p{
   
   
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
}