.main_nav{
    display: flex;    
    height: 7.125rem;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    background: var(--Grey-100);
    color: var(--secondary-font-clr);
}
.hamburger{
    background: var(--Grey-100);
    color: var(--secondary-font-clr);
    border: none;
    font-size: 3rem;
    
}
.title_container{
    text-align: center;
   
    font-family:var(--default-font);
}
.nav_title > p{
   
   
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
}