.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
}
.header{
    color: var(--default-font-clr);

    /* Subtitle 1 */
    font-family: var(--default-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.00938rem;
    margin: 0.5rem;
}
.inputfield{
    display: flex;
    width: 19.25rem;
    height: 6rem;
    min-width: 19.25rem;
    padding: 1rem;
    align-items: flex-start;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: var(--Grey-80);
    font-family: var(--default-font);
    color: var(--secondary-font-clr);

    outline: none; /* get rid of the weird yellow outline thats browser default behaviur */
}
.inputfield::placeholder{
    font-family: var(--default-font);
    overflow: hidden;
    color: var(--Grey-40);
    text-overflow: ellipsis;
    white-space: nowrap;   
   
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.03125rem;

   
}


.date_wrapper{
    display: flex;
    height: 1.5625rem;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    justify-content: flex-start;
    margin-left: 2rem;
}
.date_icon{

}
.date_wrapper p{
    margin: 0;
}

.date_btn_wrapper{
    display: flex;
    gap: 0.275rem;
}
.date.btn{
    color: var(--secondary-font-clr);
    /* Button */
    font-family:var(--default-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 114.286% */
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
}
.end_date_btn{
    color: var(--default-font-clr);
    
    font-family:var(--default-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
}

.checkboxWrapper{
    display: flex;
    margin: 0 .275rem 0 1.275rem;
}
.checkboxInput{
    width: 10%;
}
.checkbox_text{
    color: var(--default-font-clr);
    
    font-family:var(--default-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
}


.online_profile_btn{
    width: 100%;
}

.btn_container{
    display: flex;
    flex-direction: column;
    gap: .575rem;
}
.skip_wrapper{
    display: flex;
    justify-content: center;
}

.footer_btn_wrapper{
    display: flex;
    gap: .275rem;
}