.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
    box-sizing: border-box;
}
.header{
    color: var(--default-font-clr);

    /* Subtitle 1 */
    font-family: var(--default-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.00938rem;
    margin: 0.5rem;
}
.inputfield{
    display: flex;
    width: 19.25rem;
    height: 6rem;
    min-width: 19.25rem;
    padding: 1rem;
    align-items: flex-start;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: var(--Grey-80);
    font-family: var(--default-font);
    color: var(--secondary-font-clr);

    outline: none; /* get rid of the weird yellow outline thats browser default behaviur */
}
.inputfield::placeholder{
    font-family: var(--default-font);
    overflow: hidden;
    color: var(--Grey-40);
    text-overflow: ellipsis;
    white-space: nowrap;   
   
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.03125rem;

   
}

/*DATE START*/
.date_wrapper{
   /*  display: flex;
    flex-direction: column;
    height: 1.5625rem;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    justify-content: flex-start;
    margin-left: 2rem; */

    gap: 0.5rem;
    display: flex;
    justify-content: center;
    margin-left: 0rem;
    flex-direction: column;
    align-items: flex-start;
}
.student_date_btn{
    display: flex;
    height: 1rem;
    min-width: 10.0625rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 22.5rem;
    background: var(--Blue-100);
    color: var(--secondary-font-clr);
}
.student_date_btn > p > span{
    color: var(--secondary-font-clr);
    text-align: center;    
    font-family: var(--default-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
}
.date_return_text_wrapper{
    display: flex;
    flex-direction: row;
  /*   align-items: baseline; */
    gap: .5rem;
}
.date_return_text{
    font-family: var(--default-font);
    color: var(--default-font-clr);
    font-size: .775em;
    padding: .175rem;

}
.date_icon{

}
.date_wrapper p{
    margin: 0;
}
.redInfo{
    cursor: pointer;
}
.redInfo:hover + .tooltip{
    visibility: visible;
}
.tooltip{
    visibility: hidden; 
    position: absolute;
    border: 1px solid var(--secondary-BG);
    background: var(--default-BG);
    color: var(--primary-accent);
    padding: 5px;
    border-radius: 22.5rem;
    z-index: 1; 
    left:50%;
    padding: .475rem;
}
.date_btn_wrapper{
    display: flex;
   /*  gap: 0.275rem; */
   gap: 5.275rem;
}
.date.btn{
    color: var(--secondary-font-clr);
    /* Button */
    font-family:var(--default-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 114.286% */
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
}
.end_date_btn{
    color: var(--default-font-clr);
    
    font-family:var(--default-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
}

/*CHECKBOX START*/

.checkboxWrapper{
    display: flex;
    margin: 0 .275rem 0 1.275rem;
}
.checkboxInput{
    width: 10%;
}
.checkbox_text{
    color: var(--default-font-clr);
    
    font-family:var(--default-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
}
/*CHECKBOX ENDS*/



/*ONLINE PROFILE START*/
.online_profile_btn{
    width: 100%;

    
}
.online_profile_btn > p{
    color: var(--btn-font-clr);
    text-align: center;    
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 114.286% */
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
    text-decoration: none;
}

.popup{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4375rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    /* padding: 1.5rem;    */
    padding: 20.5rem;/*debugging remove*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.8));/*its a filter that makes the blurred background a little darker at the top and lighter at the bottom*/
    /* background-color: rgba(255, 255, 255, 0.8);  */
    backdrop-filter: blur(20px); /*blur the background*/
   
}
.onlineProfile_input{
    display: flex;
    width: 19.25rem;
    height: 6rem;
    min-width: 19.25rem;
    padding: 1rem;
    align-items: flex-start;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: var(--Grey-80);
    font-family: var(--default-font);
    color: var(--secondary-font-clr);
}
.onlineProfile_input::placeholder{
    font-family: var(--default-font);
    overflow: hidden;
    color: var(--Grey-40);
    text-overflow: ellipsis;
    white-space: nowrap;   
   
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.03125rem;
}
.online_btns_wrapper{
    display: flex;
    flex-direction: row;
    gap: .285rem;
}

.profiles_container{
   
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}
/*ONLINE PROFILE ENDS*/




/*FOOTER BTNS START*/
.btn_container{
    display: flex;
    flex-direction: column;
    gap: .575rem;
}
.skip_wrapper{
    display: flex;
    justify-content: center;
}

.footer_btn_wrapper{
    display: flex;
    gap: .275rem;
}

@media (min-width: 400px){
    .date_wrapper{
        display: flex;
        justify-content: center;
        margin-left: 0rem;
        flex-direction: column;
        align-items: flex-start;
    }
    
}