.main{
    background: var(--default-BG);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    height: 100vh;
    height: 100dvh;
    height: 100svh;
    
}
/* PROGRESSBAR STARTS */
.progress_bar{
    width: 21.25rem;
    height: 1.25rem;
    padding: 0.5rem;
}
/* PROGRESSBAR ENDS */
/* MAIN CONTENT STARTS */
.content_wrapper{
    display: flex;
   /*  width: 21.375rem;  TO WIDE ON PRODUCTION ASK DESIGN*/
    /* height: 30.8125rem;  TO BIG? HIDES THE BACK BUTTON ASK DESIGN*/
  
    width: 19.375rem;
    /* height: 17.8125rem; */
    height: 20.8125rem;
    padding: 3rem 1rem 2rem 1rem; /*mayby*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    flex-shrink: 0;
   
    background: var(--Grey-80);
    border-radius: 1.5rem;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
.content_text{
    color: var( --secondary-font-clr);
    font-family: var(--default-font);
}
.content_text > h1{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 100% */
    letter-spacing: 0.01125rem;
}
.content_text > p{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 120% */
    letter-spacing: 0.00938rem;
}
.content_btn_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    
}
.content_btn_wrapper > .content_btn{
    color: var(--secondary-font-clr);
    background-color: var(--secondary-BG);
    border-radius: 3.5rem;
    border: none;
    /* width: calc(12.625rem + (1.5rem + 1.5rem)); */
    width: calc(10.625rem + (1.5rem + 1.5rem));
    padding: 1rem 1.5rem;


    text-align: center;

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 114.286% */
    letter-spacing: 0.07813rem;
    text-transform: uppercase;

    text-decoration: none;
}
/* MAIN CONTENT ENDS */


.back_btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;  

    width: 10.0625rem;    
    height: calc(1rem + (1rem + 1rem));
    min-width: 10.0625rem;
    padding: 1rem;

    border-radius: 22.5rem;
    border: 1px solid var(--secondary-BG);

    background: var(--default-BG);    

    font-family: var(--default-font);
    
}
.back_btn > p{
    color: var(--btn-font-clr);
    text-align: center;    
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 114.286% */
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
    text-decoration: none;
}