.user_preview{
    display: flex;
    /* width: 21.375rem; */
    /* height: 22.5rem; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: .69rem;
}
.sub_header{
    color: var(--btn-font-clr);
    /* Caption */
    font-family: var(--default-font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 133.333% */
    letter-spacing: 0.025rem;
}

.lusher{

}