.white-divider {
    top: .75rem;
    position: relative;
    margin: 0 auto;
    width: 30%;
    height: .45rem;
    background-color: var(--secondary-font-clr);
    border-radius: 1.5rem;
    margin-bottom: 1.75rem;    
}

.dragg_card{
    /* height: 21.625rem; retracted*/
    
}
.draggable-card{
    position: relative;

    height: 44.3125rem;
    color: var(--secondary-font-clr);
    background-color: var(--secondary-BG);
    border-radius: 1.5rem 1.5rem 0 0;
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.25);
}
.dragg-wrapper {
    margin: 0 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    
}
.drag-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.drag-header > h2{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 100% */
    letter-spacing: 0.01125rem;
}
.drag-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box{
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.box > p{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.00938rem;
}
.drag-more > h2{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 100% */
    letter-spacing: 0.01125rem;
}
.drag-more > p{   
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.00938rem;
}
.bottom-text{

}

.bottom-logo {
    position: absolute;
    transform: translateX(90%) translateY(-50%);
}