.box{
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.box > p{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; 
    letter-spacing: 0.00938rem;
    font-family: var(--default-font);
}