.header{
    color: var(--default-font-clr);

    /* Subtitle 1 */
    font-family: var(--default-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.00938rem;
    margin: 0.5rem;
}
.inputfield{
    display: flex;
    width: 19.25rem;
    height: 6rem;
    min-width: 19.25rem;
    padding: 1rem;
    align-items: flex-start;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: var(--Grey-80);
    font-family: var(--default-font);
    color: var(--secondary-font-clr);
}
.inputfield::placeholder{
    font-family: var(--default-font);
    overflow: hidden;
    color: var(--Grey-40);
    text-overflow: ellipsis;
    white-space: nowrap;   
   
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.03125rem;

   
}


.date_wrapper{
    display: flex;
    height: 1.5625rem;
    align-items: flex-start;
    gap: 0.5rem;
  /*   align-self: stretch; */
    justify-content: flex-start;
    /* margin-left: 2rem; */
}
.date_icon{

}
.date_picker{
    margin: 1rem;
}
.date_return_text_wrapper{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.date_return_text{
    font-family: var(--default-font);
    color: var(--default-font-clr);
    font-size: .775em;
    padding: .175rem;
}
.date_wrapper p{
    margin: 0;
}

.date_btn_wrapper{
    display: flex;
    gap: 0.275rem;
}
.date.btn{
    color: var(--secondary-font-clr);
    /* Button */
    font-family:var(--default-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 114.286% */
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
    
}
.end_date_btn{
    color: var(--default-font-clr);
    
    font-family:var(--default-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
}

.checkboxWrapper{
    display: flex;
    margin: 0 .275rem 0 1.275rem;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
}
.check_cont{
    display: flex;
    gap: .5rem;
}
.checkboxInput{
  /*   width: 10%; */
    /* height: 1rem; */
    margin: 0;
    padding: 0;
}
.checkbox_text{
    color: var(--default-font-clr);
    
    font-family:var(--default-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
}

.online_wrapper{
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.online_profile_btn{
    width: 100%;

    
}
.online_profile_btn > p{
    color: var(--btn-font-clr);
    text-align: center;    
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 114.286% */
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
    text-decoration: none;
}

.popup{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4375rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    /* padding: 1.5rem;    */
    padding: 20.5rem;/*debugging remove*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.8));/*its a filter that makes the blurred background a little darker at the top and lighter at the bottom*/
    /* background-color: rgba(255, 255, 255, 0.8);  */
    backdrop-filter: blur(20px); /*blur the background*/
   
}
.onlineProfile_input{
    display: flex;
    width: 19.25rem;
    height: 6rem;
    min-width: 19.25rem;
    padding: 1rem;
    align-items: flex-start;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: var(--Grey-80);
    font-family: var(--default-font);
    color: var(--secondary-font-clr);
}
.onlineProfile_input::placeholder{
    font-family: var(--default-font);
    overflow: hidden;
    color: var(--Grey-40);
    text-overflow: ellipsis;
    white-space: nowrap;   
   
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.03125rem;
}
.online_btns_wrapper{
    display: flex;
    flex-direction: row;
    gap: .285rem;
}
.page_wrapper{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    max-width: 24rem;
}
@media(min-width: 1024px){
    .page_wrapper{
        display: flex;
        flex-direction: column;
        max-width: 20rem;
    }
}